@import "normalize.css";

:root {
    --color-text: #000;
    --color-text-light: #676767;
    --color-text-accent: #b62f10;
    --color-text-accent-light: #b62f1040;
    
    --color-bg: #f5efe0;
    --color-bg-2: #feecbb;
    
    --color-header-bg: rgba(255, 255, 255, 0.95);
    --color-header-border: #ddd;

    --root-font-size: 4.26667vw;
    --global-line-height: 2.75;
    
    --bp: 768px;
}

    
@media (min-width: 24rem) {
    :root {
        --root-font-size: 102%;
    }
}

@media (min-width: 64rem) {
    :root {
        --root-font-size: 114%;
    }
}

@media (min-width: 90rem) {
    :root {
        --root-font-size: 125%;
    }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    font-size: var(--root-font-size);
    line-height: var(--global-line-height);
}

body {
    font-family: 'Noto Nastaliq Urdu', serif;
    background-color: var(--color-bg);
    background: var(--color-bg) radial-gradient(at center center, var(--color-bg), var(--color-bg-2)) repeat fixed 0% 0%;
    padding-top: 2.78125rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a {
    color: var(--color-text-accent);
    text-decoration: none;
}

/*
 * -----------------------
 * Main header
 * -----------------------
 */
header[role="banner"] {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    border-bottom: 2px solid var(--color-header-border);
    font-size: 1.0625rem;
    line-height: 2;
    background-color: var(--color-header-bg);
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

header[role="banner"] > * {
    padding: 0.25em 0;
}

header[role="banner"] a {
    color: inherit;
}

header[role="banner"] a:hover {
    color: var(--color-text-accent);
}

.prev-in-header,
.next-in-header,
.toc-trigger,
.search-trigger {
    display: block;
    width: 2.5em;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev-in-header svg,
.next-in-header svg,
.toc-trigger svg,
.search-trigger svg {
    width: 1.25em;
    height: 1.25em;
}

.prev-in-header {
    order: 1;
    border-left: 2px solid var(--color-header-border);
}

.toc-trigger {
    order: 2;
    border-left: 2px solid var(--color-header-border);
}

.main-head {
    order: 3;
    margin: 0 auto;
    text-align: center;
    font-size: inherit;
}

.search-trigger {
    order: 4;
    border-right: 2px solid var(--color-header-border);
    /* Hiding it till we implement searching */
    visibility: hidden;
    pointer-events: none;
}

.next-in-header {
    order: 5;
    border-right: 2px solid var(--color-header-border);
}


.search-trigger:hover {
    color: var(--color-text-accent);
}

@media(min-width: 64rem) {
    .prev-in-header,
    .next-in-header {
        display: none;
    }
}

/*
 * -----------------------
 * Article
 * -----------------------
 */
.content {
    width: 90%;
    max-width: 42rem;
    margin: calc(var(--global-line-height) * 1rem) auto;
}

.content h2 {
    margin: calc(var(--global-line-height) * 1em) 0;
    text-align: center;
}

.content p {
    margin: 0;
}

.content p + p {
    text-indent: calc(var(--global-line-height) * 1em);
}

.content ol {
    list-style-type: persian;
    margin: calc(var(--global-line-height) * 1em) 0;
    padding-right: calc(var(--global-line-height) * 1em);
}

.content .center {
    text-align: center;
}

.content .signature {
    margin-top: calc(var(--global-line-height) * 1em);
    text-indent: 0;
    text-align: left;
}

.fn-ref {
    position: relative;
}

.fn-ref a {
    line-height: 1;
    position: absolute;
    unicode-bidi: bidi-override;
    top: -0.55em;
    left: 0;
    transform: translateX(12.5%);
}

.fn-ref.start,
.fn-ref.end {
    position: static;
}

.fn-ref.start a {
    top: 50%;
    transform: translate(0, -50%);
    left: calc(100% + 0.45em);
}

.fn-ref.end a {
    top: 50%;
    transform: translate(0, -50%);
    right: calc(100% + 0.45em);
}

.fn-ref.static a {
    position: static;
}

.footnotes {
    font-size: 0.8em;
}

.footnotes ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footnotes li {
    padding-right: 2em;
    position: relative;
}

.footnotes li:not(:last-child) {
    margin-bottom: calc(0.125em * var(--global-line-height));
}

.fn-count {
    unicode-bidi: bidi-override;
    position: absolute;
    left: calc(100% - 1.5em);
}

.fn-author {
    color: var(--color-text-light);
    margin-right: 0.25em;
}

.poetic-sign {
    font-size: 0.9em;
    margin: 0 0.375em;
}

.qitah dd:first-of-type::before {
    content: "ق";
    font-size: 0.8em;
    line-height: 1;
    color: var(--color-text-light);
    position: absolute;
    left: calc(100% + 0.65em);
    top: 50%;
    transform: translateY(-50%);
}

@media(min-width: 64rem) {
    .qitah dd:first-of-type::before {
        left: auto;
        right: calc(100% + (0.5625em * var(--global-line-height)));
        transform: translate(25%, -50%);
    }
}


/*
 * -----------------------
 * Poetry
 * -----------------------
 */

.poetry {
    width: max-content;
    margin: 0 auto calc(var(--global-line-height) * 1em);
}

.poetry dl {
    margin: 0 0 calc(1em * var(--global-line-height)) 0;
}

.poetry dd {
    text-align-last: justify;
    position: relative;
    margin: 0;
}

@media(min-width: 36rem) {
    .poetry {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    .poetry dl {
        margin: 0;
        display: contents;
    }
    
    .poetry dd:nth-child(odd) {
        grid-column: span 4;
    }
    
    .poetry dd:nth-child(even) {
        grid-column: span 4 / 7;
    }
    
    .poetry dl:last-of-type dd {
        grid-column: 2 / 6;
    }
}

@media(min-width: 64rem) {
    .poetry {
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: calc(1.125em * var(--global-line-height));
    }

    .poetry dd:nth-child(odd) {
        grid-column: span 2;
    }
    
    .poetry dd:nth-child(even) {
        grid-column: span 2 / 5;
    }
    
    .poetry dl:last-of-type dd {
        grid-column: 2 / 4;
    }
}

.footnotes .poetry,
.footnotes .poetry dl {
    margin-bottom: 0;
}

/*
 * ----------------------------------
 * Navigation for a part's pages
 * ----------------------------------
 */
.part-subnav {
    list-style: none;
    padding: 0;
    margin: 0 auto calc(var(--global-line-height) * 1rem);
    font-size: 0.85em;
    width: max-content;
}

@media (min-width: 550px) {
    .part-subnav {
        column-count: 2;
        column-gap: calc(var(--global-line-height) * 1rem);
    }
}

@media (min-width: 860px) {
    .part-subnav {
        column-count: 3;
    }
}

@media (min-width: 1600px) {
    .part-subnav {
        column-count: 4;
    }
}

/*
 * ----------------------------------
 * Previous and next page navigation
 * ----------------------------------
 */
.pages-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pages-nav li {
    border-top: 2px solid var(--color-text-accent-light);
}


.pages-nav svg {
    width: 1.5rem;
    height: 1.5rem;
}

.pages-nav a {
    display: inline-flex;
    align-items: center;
    padding: 0 0.5em;
}

.pages-nav span {
    font-size: 0.875em;
    line-height: 3.035714;
}

.pages-nav .next {
    text-align: left;
}

.pages-nav .prev a {
    justify-content: flex-start;
}

.pages-nav .next a {
    justify-content: flex-end;
}

.pages-nav .prev svg {
    margin-left: 0.5em;
}

.pages-nav .next svg {
    justify-content: end;
    margin-right: 0.5em;
}

.pages-nav.top {
    display: flex;
    justify-content: space-between;
    border-top: 0;
    margin: 1em 0 0;
}

.pages-nav.top li {
    border: 0;
}

@media (min-width: 64rem) {
    .pages-nav {
        margin: 0;
    }
    
    .pages-nav li {
        position: fixed;
        top: 0;
        bottom: 0;
        padding: 0;
        width: 2.65em;
    }
    
    .pages-nav .prev {
        right: 0;
        border-left: 2px solid var(--color-text-accent-light);
    }
    
    .pages-nav .next {
        left: 0;
        border-right: 2px solid var(--color-text-accent-light);
    }
    
    .pages-nav a {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 1px;
    }
    
    .pages-nav .prev svg,
    .pages-nav .next svg {
        margin: 0.625em 0;
    }
    
    .pages-nav .prev svg {
        order: 1;
    }
    
    .pages-nav .next svg {
        order: -1;
    }
    
    .pages-nav span {
        font-size: 0.8em;
        line-height: 3.3203125;
        writing-mode: tb-rl;
        writing-mode: vertical-rl;
    }
        
    .pages-nav .next span {
        transform: rotate(180deg);
    }

    .pages-nav .prev a,
    .pages-nav .next a {
        justify-content: center;
    }
}
