@import "normalize.css";

:root {
    --color-text: #000;
    --color-text-light: #676767;
    --color-text-accent: #b62f10;
    --color-text-accent-light: #b62f1040;
    
    --color-bg: #f5efe0;
    --color-bg-2: #feecbb;
    
    --color-header-bg: #fff;
    --color-header-border: #ddd;

    --root-font-size: 4.26667vw;
    --global-line-height: 2.75;
    
    --bp: 768px;
}

    
@media (min-width: 375px) {
    :root {
        --root-font-size: 100%;
    }
}

@media (min-width: 960px) {
    :root {
        --root-font-size: 112.5%;
    }
}

@media (min-width: 1440px) {
    :root {
        --root-font-size: 125%;
    }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    font-size: var(--root-font-size);
    line-height: var(--global-line-height);
}

body {
    font-family: 'Noto Nastaliq Urdu', serif;
    background-color: var(--color-bg);
    background: var(--color-bg) radial-gradient(at center center, var(--color-bg), var(--color-bg-2)) repeat scroll 0% 0%;
    padding-top: 2.78125rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a {
    color: var(--color-text-accent);
    text-decoration: none;
}

header[role="banner"] {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    border-bottom: 2px solid var(--color-header-border);
    font-size: 1.0625rem;
    line-height: 2;
    background-color: var(--color-header-bg);
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

header[role="banner"] > * {
    padding: 0.25em 0;
}

header[role="banner"] a {
    color: inherit;
}

header[role="banner"] a:hover {
    color: var(--color-text-accent);
}

.main-head {
    margin: 0;
    text-align: center;
    font-size: inherit;
}

.menu-trigger,
.search-trigger {
    width: 2.5em;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-trigger svg,
.search-trigger svg {
    width: 1.25em;
    height: 1.25em;
}

.menu-trigger:hover,
.search-trigger:hover {
    color: var(--color-text-accent);
}

.menu-trigger {
    border-left: 2px solid var(--color-header-border);
}

.search-trigger {
    order: 1;
    border-right: 2px solid var(--color-header-border);
}

@media (min-width: 960px) {
    body {
        padding-top: 0;
        padding-right: 2.65625rem;
    }
    
    header[role="banner"] {
        bottom: 0;
        left: auto;
        border-bottom: 0;
        border-left: 2px solid var(--color-header-border);
        width: 2.5em;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    header[role="banner"] > * {
        padding: 0.625em 0;
    }
    
    .main-head {
        writing-mode: tb-rl;
        writing-mode: vertical-rl;
        order: 2;
        transform: rotate(180deg);
        margin: auto 0;
    }
    
    .menu-trigger,
    .search-trigger {
        border-width: 0 0 2px 0;
        border-style: solid;
        border-color: var(--color-header-border);
    }
}


/*
 * -----------------------
 * Article
 * -----------------------
 */
.content {
    width: 90%;
    max-width: 42rem;
    margin: calc(var(--global-line-height) * 1em) auto auto;
}

.content h2 {
    margin: calc(var(--global-line-height) * 1em) 0;
    text-align: center;
}

.content p {
    margin: 0;
}

.content p + p {
    text-indent: calc(var(--global-line-height) * 1em);
}

.content ol {
    list-style-type: persian;
    margin: calc(var(--global-line-height) * 1em) 0;
    padding-right: calc(var(--global-line-height) * 1em);
}

.content .signature {
    margin-top: calc(var(--global-line-height) * 1em);
    text-indent: 0;
    text-align: left;
}

.fn-ref {
    position: relative;
}

.fn-ref a {
    line-height: 1;
    position: absolute;
    unicode-bidi: bidi-override;
    top: -0.55em;
    left: 0;
    transform: translateX(50%);
}

.fn-ref.out {
    position: static;
}

.fn-ref.out a {
    top: 50%;
    transform: translate(0, -50%);
    right: calc(100% + 0.45em);
}

.footnotes {
    font-size: 0.8em;
}

.footnotes ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footnotes li {
    padding-right: 2em;
    position: relative;
}

.fn-count {
    unicode-bidi: bidi-override;
    position: absolute;
    left: calc(100% - 1.5em);
}

.fn-author {
    color: var(--color-text-light);
    margin-right: 0.25em;
}

/* @media(min-width: 40rem) { */
    /* .content { */
        /* max-width: 35rem; */
        
    /* } */
/* } */

/* @media(min-width: 75rem) { */
    /* .content { */
        /* max-width: 42rem; */
    /* } */
/* } */


/*
 * -----------------------
 * Poetry
 * -----------------------
 */

.poetry {
    width: 90%;
    max-width: 20rem;
    margin: 0 auto calc(var(--global-line-height) * 1em);
}

.poetry dl {
    margin: 0 0 calc(1em * var(--global-line-height)) 0;
}

.poetry dd {
    text-align-last: justify;
    position: relative;
    margin: 0;
}

@media(min-width: 30rem) {
    .poetry {
        width: 100%;
    }
}

@media(min-width: 40rem) {
    .poetry {
        max-width: 33.5rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .poetry dl {
        margin: 0;
        display: contents;
    }
    
    .poetry dd:nth-child(odd) {
        grid-column: span 3;
    }
    
    .poetry dd:nth-child(even) {
        grid-column: span 3 / 6;
    }
    
    .poetry dl:last-of-type dd {
        grid-column: 2 / 5;
    }
}

@media(min-width: 75rem) {
    .poetry {
        max-width: 42rem;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: calc(1em * var(--global-line-height));
    }

    .poetry dd:nth-child(odd) {
        grid-column: span 2;
    }
    
    .poetry dd:nth-child(even) {
        grid-column: span 2 / 5;
    }
    
    .poetry dl:last-of-type dd {
        grid-column: 2 / 4;
    }
}


/*
 * ----------------------------------
 * Previous and next page navigation
 * ----------------------------------
 */
.pages-nav {
    list-style: none;
    padding: 0;
    margin: calc(var(--global-line-height) * 1rem) 0 0 0;
    font-size: 0.875em;
    line-height: 3.035714;
}

.pages-nav li {
    border-top: 2px solid var(--color-text-accent-light);
    padding: 0 0.5em;
}

.pages-nav a {
    display: flex;
    align-items: center;
    transition: transform 0.25s;
    will-change: transform;
}

.pages-nav .prev a {
    justify-content: flex-start;
}

.pages-nav .prev a:hover,
.pages-nav .prev a:focus {
    transform: translateX(0.25em);
}

.pages-nav svg {
    width: 1.5rem;
    height: 1.5rem;
}

.pages-nav .prev svg {
    margin-left: 0.5em;
}

.pages-nav .next a {
    justify-content: flex-end;
}

.pages-nav .next a:hover,
.pages-nav .next a:focus {
    transform: translateX(-0.25em);
}

.pages-nav .next svg {
    justify-content: end;
    margin-right: 0.5em;
}

.pages-nav.top {
    display: flex;
    justify-content: space-between;
    border-top: 0;
    margin: 1em 0 0;
}

.pages-nav.top li {
    border: 0;
}

@media (min-width: 768px) {
    .pages-nav {
        font-size: 0.8em;
        line-height: 3.1968125;
        border-top: 2px solid var(--color-text-accent-light);
        display: flex;
    }
    
    .pages-nav li {
        border: 0;
        flex: 1;
    }
    
    .pages-nav li + li {
        border-right: 2px solid var(--color-text-accent-light);
    }
}
